.edit {
    max-width: 1600px;
    height: 1000px;
    background-color: #F8F8F8;
}

.edit__heading {
    width: 760px;
    padding: 70px 60px 20px 300px;
}

.edit__heading-nav__breadcrumbs {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.breadcrumb-item-home {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
}

.breadcrumb-item-arrow {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 300;
    font-style: W3;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
}

.breadcrumb-item-active {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
}

.edit__inner {
    width: 800px;
    padding-left: 300px;
    text-align: center;
}

.edit__inner-detail-form__form-1 {
    display: flex;
    justify-content: left;
    align-items: top;
}

.edit__inner__grid-fruit-img {
    width: 500px;
    height: 350px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.edit__inner__grid-fruit-img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.edit__inner-select {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.edit__inner-input__ttl {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 300;
    font-style: W3;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
    padding-bottom: 15px;
    margin: 40px 0 5px 0;
}

.edit__inner-input__input {
    display: block;
    width: 500px;
    height: 43px;
    padding: 11px 20px 11px 20px;
    border: 1px solid #E0DFDE border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.edit__inner-input__input-submit {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E0DFDE;
    width: 100%;
}

/* 入力フォームに入力するときだけ文字色を濃くする */
.edit__inner-input__input-submit:focus {
    color: #333333;
    outline: none;
}


/* 丸いチェックボックス */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #4B4B4B;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

/* 丸いチェックボックス_チェックした時の背景カラー */
input[type="checkbox"]:checked {
    background-color: #4B4B4B;
    position: relative;
}

/* 丸いチェックボックス_チェックマーク */
input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 丸いチェックボックス_labelの文字装飾 */
.season1,
.season2,
.season3,
.season4 {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 300;
    font-style: W3;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
    margin-right: 50px;
    margin-left: 5px;
    cursor: pointer;
}

/* 丸いチェックボックス_input,labelの水平揃え */
.edit__inner-input__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.edit__inner__input-container {
    text-align: left;
    padding-left: 50px;
}

.edit__inner-input__textarea {
    width: 1050px;
    background-color: #FFFFFF;
    border: 1px solid #E0DFDE border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 11px 20px 11px 20px;
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 10%;
    color: #4B4B4B;
}

/* 入力フォームに入力するときだけ文字色を濃くする */
.edit__inner-input__textarea:focus {
    color: #333333;
    outline: none;
}

.edit__inner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    height: 50px;
    gap: 20px;
    margin-top: 20px;
}

.edit__inner-textarea {
    text-align: left;
    width: 760px;
}

.edit-btn-yellow {
    padding: 15px 50px;
}

.trash-can {
    width: 40px;
}

.edit__inner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.trash-delete {
    margin-top: 25px;
    margin-right: 10px;
}