.index {
    max-width: 1600px;
    height: 1700px;
    background-color: #F8F8F8;
}

.paginate {
    max-width: 1600px;
    background-color: #F8F8F8;
}

.index__heading-btn-submit {
    text-decoration: none;
}

.index__heading-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 60px 20px 60px;
}

.index__inner {
    display: flex;
    padding: 50px 60px 20px 60px;
}

.index__heading-ttl {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-weight: 600;
    font-style: W6;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

/* サイドバーの検索窓 */
.text-search {
    display: block;
    width: 240px;
    padding: 14.5px 10px 14.5px 20px;
    border: 1px solid #E0DFDE;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

/* サイドバーの検索窓_文字装飾 */
.index__inner__sidebar-search-submit input {
    font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP';
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
}

/* サイドバーの検索窓_入力するときだけ文字色を濃くする */
.index__inner__sidebar-search-submit:focus {
    color: #333333;
    outline: none;
}

.index__inner-input {
    margin-bottom: 20px;
}

.index__inner__sidebar-h3-ttl {
    font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP';
    font-weight: 600;
    font-style: W6;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
    margin-top: 50px;
}

/* サイドバーの価格プルダウン */
.index__inner__sidebar-select {
    display: block;
    width: 240px;
    padding: 11px 10px 11px 20px;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    margin-top: 20px;
}

/* サイドバーの価格プルダウン_文字装飾 */
.index__inner__sidebar-select-price {
    font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP';
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E0DFDE;
}

.index__inner__sidebar-select {
    position: relative;
}

.index__inner__sidebar-select::after {
    position: absolute;
    top: 50%;
    left: 85%;
    width: 14px;
    height: 0;
    border-top: 10px solid #BEB1A6;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: "";
    transform: translateY(-50%);
}

.index__inner__sidebar-select-price {
    padding: 0px;
    width: 50%;
    background-color: #ffffff;
    color: #BEB1A6;
}

.index__inner__grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 30px;
    overflow: hidden;
    padding: 5px;
}

/* フルーツカードの装飾と動作 */
.index__inner__grid-fruit-card {
    width: 364px;
    height: 318px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow:
    2px 2px 5px rgba(0, 0, 0, 0.1),
    /* 右下の影 */
    -2px -2px 5px rgba(0, 0, 0, 0.1);
    /* 左上の影 */
}

.index__inner__grid-fruit-card {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.index__inner__grid-fruit-card:hover {
    background-color: rgba(245, 200, 0, 0.3);
    transform: scale(1.05);
}

.index__inner__grid-fruit-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

.index__inner__grid-fruit-card__product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin-left: 180px;
    gap: 20px;
}

.disabled {
    font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP';
    font-weight: 300;
    font-style: W3;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
}

.paginate-arrow {
    font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP';
    font-weight: 300;
    font-style: W3;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
    text-decoration: none;
    padding-bottom: 20px;
}
.active {
    font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP';
    font-weight: 300;
    font-style: W3;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
    text-decoration: none;
}

.active-2 {
    font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP';
    font-weight: 300;
    font-style: W3;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
    text-decoration: none;
    padding-top: 20px;
}

/* ソート検索されたら表示されるタブ */
.close-tab {
    display: none;
    font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP';
    font-weight: 300;
    font-style: W3;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4B4B4B;
}

.index__inner__sidebar-filter-tabs {
    display: flex;
    justify-content: center;
    align-items: bottom;
    width: 200px;
    height: 48px;
    padding: 13px 10px 6px 15px;
    border: 1px solid #F5C800;
    border-radius: 40px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    margin-top: 20px;
}

/* ホバー時のスタイル */
.index__inner__sidebar-filter-tabs:hover {
    background-color: rgb(221, 180, 0);
    /* 元の色より少し暗いトーンに変更 */
}

.close_btn {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #F5C800;
    border-radius: 50%;
    background: #fff;
    margin-left: 144px;
    bottom: 25px;
}

.close_btn::before,
.close_btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 18px;
    background: #F5C800;
    /* バツ印の色 */
}

.close_btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

